<div class="bg-container">
    <div class="row">
        <div class="col-md-10">
            <div class="bg-background-content">
                <div class="bg-data-container">
                    <label class="bg-title">Grupo Sanguineo</label>
                    <div class="row mx-1">
                        <div class="col-md-7 mt-2 mb-3">
                            <div class="d-flex">
                                <div data-control="" class="form-check form-check-inline flex-fill">
                                    <input class="form-check-input" type="radio" name="GRS" id="GRSO" value="" data-description="">
                                    <label class="form-check-label" for="GRSO">O</label>
                                </div>
                                <div data-control="" class="form-check form-check-inline flex-fill">
                                    <input class="form-check-input" type="radio" name="GRS" id="GRSA" value="" data-description="" checked="">
                                    <label class="form-check-label" for="GRSA">A</label>
                                </div>
                                <div data-control="" class="form-check form-check-inline flex-fill">
                                    <input class="form-check-input" type="radio" name="GRS" id="GRSB" value="" data-description="" checked="">
                                    <label class="form-check-label" for="GRSB">B</label>
                                </div>
                                <div data-control="" class="form-check form-check-inline flex-fill">
                                    <input class="form-check-input" type="radio" name="GRS" id="GRSAB" value="" data-description="" checked="">
                                    <label class="form-check-label" for="GRSAB">AB</label>
                                </div>
                                <div data-control="" class="form-check form-check-inline flex-fill">
                                    <input class="form-check-input" type="radio" name="GRS" id="GRSSI" value="" data-description="" checked="">
                                    <label class="form-check-label" for="GRSSI">Sin informacion</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mb-3">
                            <div class="d-flex">
                                <strong class="bg-field-title">RH: </strong>
                                <div data-control="" class="form-check form-check-inline flex-fill">
                                    <input class="form-check-input" type="radio" name="RH" id="POSITIVO" value="" data-description="" checked="">
                                    <label class="form-check-label" for="POSITIVO">Positivo</label>
                                </div>
                                <div data-control="" class="form-check form-check-inline flex-fill">
                                    <input class="form-check-input" type="radio" name="RH" id="NEGATIVO" value="" data-description="" checked="">
                                    <label class="form-check-label" for="NEGATIVO">Negativo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>